node_modules
npm-debug.log
.git
.gitignore
.dockerignore
docker-compose*.yml
.env
.env.*
!.env.example
.husky
.prettier*
.eslintrc*
cypress
.github
.vscode
.idea
*.md
!README.md
dist
build
coverage
.nyc_output
prisma/dev.db
dev.db
*.log
